body {
	background-color: #d9e9fb;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#container {
	width: 500px;
	margin: 125px auto 0 auto;
	padding: 30px 0 60px 0;
	background-color: white;
}

h1 {
	font-size: 30pt;
	text-align: center;
}

a {
	float: right;
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	color: #aaa;
	margin-top: 10px;
}

a:hover {
	transition: .2s;
	color: #107cce;
}

button {
	font-size: 15pt;
	display: inline;
	padding: 10px;
	margin: 10px auto;
	width: 180px;
}

#create-account {
	color: #37a;
	border: 3px solid #37a;
	background-color: white;
}

#log-in {
	float: right;
	color: white;
	border: 3px solid #37a;
	background-color: #37a;
}

#add-members {
	color: #37a;
	border: 3px solid #37a;
	background-color: white;
}

#create-group {
	float: right;
	color: white;
	border: 3px solid #37a;
	background-color: #37a;
}

#new-group {
	color: #37a;
	border: 3px solid #37a;
	background-color: white;
}

#add-appointment {
	float: right;
	color: white;
	border: 3px solid #37a;
	background-color: #37a;
}

button:hover {
	cursor: pointer;
}

#create-account:hover {
	color: white;
	background-color: #37a;
	transition: background-color .2s, color .2s;
}

#log-in:hover {
	background-color: #1164a2;
	transition: .2s;
	border: 3px solid #1164a2;
	transition: background-color .2s, color .2s;
}

#links p {
	color: rgba(0, 0, 0, 0);
}

input {
	font-size: 15pt;
	display: block;
	width: 380px;
	height: 20px;
	padding: 10px;
	border: none;
	background-color: #ddd;
	margin: 0 auto;
}

p {
	font-size: 17pt;
	display: block;
	width: 400px;
	margin: 15px auto;
}

header {
	color: #37a;
	font-size: 120pt;
	text-align: center;
}

input:focus {
	outline:0;
}

#links {
	width: 400px;
	margin: 15px auto;
}

img {
	display: block;
	margin: 50px auto 20px auto;
	width: 150px;
}