/* fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

/* animations */
@keyframes fadeBackground{
  from {background-color: white;}
  to {background-color: black;}
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The toggle for the themes */
/* The switch - the box around the slider */
#switch {
  position: absolute;
  top: 10px;
  left: 80%;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#dark-mode{
  position: absolute;
  top: 15px;
  left: 73%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title{
  position: absolute;
  top: 0px;
  left: 5%;
  color: black;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
}

h2{
  text-align: center;
  color: black;
}

/* logo */

#logo{
  position: absolute;
  top: 0px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

/* icons */
.icons{
  height: 40px;
  width: 40px;
}

#addIcon{
  position: absolute;
  left: 90%;
  top: 5px;
}

#logoutIcon{
  position: absolute;
  left: 95%;
  top: 5px;
}

#reminderIcon{
  position: absolute;
  left: 86%;
  top: 5px;
}

/* menu */
.rectangle {
  height: 8vh;
  width: 100%;
  background-color: rgb(55,120,168);
  border-bottom: 2px solid black;
}

/* Weather Today*/
#weatherToday{
  position: absolute;
  top: 9vh;
  left: 0px;
  height: 60vh;
  width: 40vw;
  background-color: rgb(217,233,250);
  text-align: center;
}

/* the calender div */
#calendar-wrapper{
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60vw;
  height: 90vh;
}

#calendar{
  background-color: white;
  margin-top: 50px;
  margin-left: 3%;
  height: 500px;
  width: 800px;
}


/* current event form */

#todayEvents{
  background-color: rgb(55,120,168);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40vw;
  height: 45vh;
}

/* DARK MODE */

body.dark{
  background-color: black;
  animation-name: fadeBackground;
  animation-duration: 1s;

}



