<<<<<<< HEAD
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

/* animations */
@keyframes fadeBackground{
  from {background-color: white;}
  to {background-color: black;}
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The toggle for the themes */
/* The switch - the box around the slider */
#switch {
  position: absolute;
  top: 10px;
  left: 80%;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
=======
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    min-width: 1350px;
>>>>>>> ccbcfa80d314b11a6b7b689221d14d1b799f2b8f
}

header {
    background-color: #eee;
    padding: 0;
    margin: 0;
    z-index: 1;
    height: 50px;
    margin-bottom: 30px;
}

#logo {
    vertical-align: top;
    display: inline;
    height: 50px;
    width: 50px;
}

header h1 {
    display: inline-block;
    padding: 7px 0 0 7px;
    margin: 0;
}

header p {
    padding: 0 10px 0 0;
    display: inline;
    float: right;
}

.el-checkbox {
    padding: 12.203px 20px 0 0;
    display: inline;
    float: right;
}

h2 {
    text-align: center;
    color: black;
    margin: 0;
}

.icons {
    height: 40px;
    width: 40px;
    display: inline;
    float: right;
    padding: 5px 10px 0 0;
}

.icons:hover {
    cursor: pointer;
}

/* the calender div */
#calendar {
    margin: 0 1% 0 2%;
    float: left;
    background-color: white;
    left: 42%;
    height: 600px;
    width: 47%;
    display: inline-block;
}

#progressButton {
    margin-left: 20%;
}
/* the add event form */
#eventForm {
    background-color: #e5e5e5;
}

#other-content {
    float: left;
    width: 47%;
    margin: 0 2% 0 1%;
}

<<<<<<< HEAD
#reminderIcon{
  position: absolute;
  left: 86%;
  top: 5px;
}

/* menu */
.rectangle {
  height: 8vh;
  width: 100%;
  background-color: rgb(55,120,168);
  border-bottom: 2px solid black;
}

/* Weather Today*/
#weatherToday{
  position: absolute;
  top: 9vh;
  left: 0px;
  height: 60vh;
  width: 40vw;
  background-color: rgb(217,233,250);
  text-align: center;
}

/* the calender div */
#calendar-wrapper{
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60vw;
  height: 90vh;
}

#calendar{
  background-color: white;
  margin-top: 50px;
  margin-left: 3%;
  height: 500px;
  width: 800px;
}


/* current event form */

#todayEvents{
  background-color: rgb(55,120,168);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40vw;
  height: 45vh;
=======
/* current event form */
#todayEvents {
    background-color: #e5e5e5;
    padding: 50px;
    margin: 0 0 30px 0;
}

/* progress module */
#progressModule {
    padding: 50px;
    height: 200px;
    background-color: #e5e5e5;
}

#progressBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}

#real-button {
    position: absolute;
    top: .2px;
    right: 50px;
>>>>>>> ccbcfa80d314b11a6b7b689221d14d1b799f2b8f
}

/* DARK MODE */
body.dark {
    background-color: black;
    /*color: #ddd;*/
    animation-name: fadeBackground;
    animation-duration: .5s;
}
/*
header.dark {
    background-color: #444;
}*/

/* animations */
@keyframes fadeBackground {
    from {background-color: white;}
    to {background-color: black;}
}

/* remove selecting capabilities where necessary */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}