/* fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

/* animations */
@keyframes fadeBackground{
  from {background-color: bisque;}
  to {background-color: black;}
}

body {
  margin: 0;
  padding: 0;
  background-color: bisque;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The toggle for the themes */
/* The switch - the box around the slider */
#switch {
  position: absolute;
  top: 10px;
  left: 80%;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#dark-mode{
  position: absolute;
  top: 15px;
  left: 73%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title{
  position: absolute;
  top: 0px;
  left: 5%;
  color: black;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
}

h2{
  text-align: center;
  color: black;
}

/* logo */

#logo{
  position: absolute;
  top: 0px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

/* icons */
.icons{
  height: 40px;
  width: 40px;
}

#addIcon{
  position: absolute;
  left: 90%;
  top: 5px;
}

#logoutIcon{
  position: absolute;
  left: 95%;
  top: 5px;
}

/* menu */
.rectangle {
  height: 50px;
  width: 100%;
  background-color:#E5E5E5;
}

/* progress module */
#progressModule{
  position: absolute;
  top: 300px;
  left: 5vw;
  height: 200px;
  width: 450px;
  background-color: #E5E5E5;
}

#progressBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

#progressButton{
  margin-left: 20%;
}

/* figure this out soon */
#progressLine{
  height: 10px;
  width: 200px;
  background-color: black;
}

/* the calender div */
#calendar{
  background-color: white;
  position: absolute;
  top: 100px;
  left: 42%;
  height: 500px;
  width: 800px;
}

/* the add event form */

#eventForm{
  background-color: #E5E5E5;
}

/* current event form */

#todayEvents{
  background-color: #E5E5E5;
  position: absolute;
  top: 100px;
  left: 5vw;
  width: 450px;
}

/* DARK MODE */

body.dark{
  background-color: black;
  animation-name: fadeBackground;
  animation-duration: 1s;

}



